body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: nokiafc22;
  background: url(../images/bg.png);
  background-size: cover;
  background-position: center;
}

#container {
  width: 100%;
  min-height: 100vh;
}

#bg-shadow {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}

#title {
  font-family: nokiafc22;
  font-size: 64px;
  color: #fec062;
  text-align: center;
  padding: 45px 0;
}

#game-container {
  display: flex;
  justify-content: center;
  font-family: nokiafc22;
  width: 100%;
}

#board-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-text {
  font-size: 28px;
  color: #fec062;
  padding: 20px 0;
}

#socials {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 50px;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 0 100px;
  }
}