body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: nokiafc22;
  background: url(../images/bg.png);
  background-size: cover;
  background-position: center;
}

#container {
  width: 100%;
  min-height: 100vh;
}

#bg-shadow {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  opacity: 0.3;
  z-index: -1;
}

#title-bar {
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 48px;
  color: #fec062;
  text-align: center;
  padding: 15px 25px;
}

#account {
  font-size: 21px;
  text-transform: uppercase;
  font-family: VCR_OSD_Mono;
  padding: 38px 25px;
  background: #fff;
}

#loginBTN {
  font-size: 21px;
  text-transform: uppercase;
  font-family: VCR_OSD_Mono;
  padding: 38px 25px;
  background: #fff;
  cursor: pointer;
}

#game-container {
  display: flex;
  justify-content: center;
  font-family: nokiafc22;
  width: 100%;
}

#board-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#social-text {
  font-size: 28px;
  color: #fec062;
  padding: 20px 0;
}

#socials {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 50px;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 0 100px;
  }
}

/* leaderboard */
#leaderboard {
  border-radius: 1rem 1rem 0 0;
  background-color: #fff;
  width: 30%;
  min-width: 400px;
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
}

#leaderboard-title {
  text-align: center;
  padding: 0 0.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#leaderboard-title #leaderboardIcon {
  width: 30px;
  margin-right: auto;
}

#leaderboard-title #arrow {
  width: 30px;
  margin-left: auto;
  transition: all .4s;
  transform: rotate(-180deg);
}

#leaderboard-content {
  max-height: 0;
  height: 100%;
  transition: max-height .4s;
  overflow: hidden;
  overflow-y: auto;
}

.open #leaderboard-title #arrow {
  transform: rotate(0deg);
}

.open #leaderboard-title #arrow {
  transform: rotate(0deg);
}

.open #leaderboard-content {
  max-height: 250px;
}

.rank {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.7rem;
  margin-bottom: 0;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #eee;
}

.rank > img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}

.score {
  margin-left: auto;
}